"acme-enter-email": {{ getv "/acme/email" }}
"acme-agreement:https://letsencrypt.org/documents/LE-SA-v1.0.1-July-27-2015.pdf": true
"acmetool-quickstart-choose-server": {{ getv "/acme/server" }}
"acmetool-quickstart-choose-method": webroot
"acmetool-quickstart-webroot-path": "/usr/share/nginx/html/.well-known/acme-challenge"
"acmetool-quickstart-complete": true
"acmetool-quickstart-install-cronjob": false
"acmetool-quickstart-install-haproxy-script": true
"acmetool-quickstart-install-redirector-systemd": false
"acmetool-quickstart-key-type": ecdsa
"acmetool-quickstart-rsa-key-size": 4096
"acmetool-quickstart-ecdsa-curve": nistp256
